## Build results
bin/
obj/

## Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / VS Code
.idea/
.vscode/

## Logs
*.log

## OS files
.DS_Store
Thumbs.db

## NuGet
*.nupkg
packages/

## Publish
publish/

## Test results
TestResults/

## Secrets
appsettings.Development.json
appsettings.Production.json